<!DOCTYPE html>
<html>
<head>
  <title>人生可期 交换出新</title>
  <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

        <div>
            <%= render "common/navbar" %>
            <%= yield %>
        </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators bg-color1">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://ols6vd1wm.bkt.clouddn.com/your_name_21.jpg" alt="主动选择">
        <div class="carousel-caption">
          <h2 class="tip"><span>交换</span>人生体验会是怎样的感觉</h2>
          <p class="tip">「主动选择一种你<span>想要</span>的生活方式 用另一种视角感受生活」</p>
        </div>
      </div>



      <div class="item">
        <img src="http://ols6vd1wm.bkt.clouddn.com/change_id_21.jpg" alt="身份互换">
        <div class="carousel-caption">
          <h2 class="tip">也许会有意想不到的<span>惊喜</span>在等你哦</h2>
          <p class="tip">「互相交换人生的两人 谁说不会有意想不到的<span>缘分</span>悄然发芽呢」</p>
        </div>
      </div>

      <div class="item">
        <img src="http://ols6vd1wm.bkt.clouddn.com/tradition_21.jpg" alt="体验别样人生">
        <div class="carousel-caption">
          <h2 class="tip">活在别人的人生中可以<span>肆意</span>一把</h2>
          <p class="tip">「反正是临时的 把握可以尽情<span>释放</span>被压抑一面的好时机」</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- How Part Reverse the hateful parts. -->
<div class="container-fluid boxes">
  <div class="content_area">
    <div class="round-container">
      <div class="row center-block">

        <div class="col-xs-12 col-md-4">
          <img class="img-responsive center-block" src="http://ols6vd1wm.bkt.clouddn.com/img_1_1.jpg" alt="Box 1">
          <h4 style="color: rgb(48,121,128);">避开考试 体验自由组合课业</h4>
          <h5 class="pd">不是正式学员,没有考试压力.任何课程都可以自由的旁听,做到自由组合感兴趣的课业</h5>
        </div>
       <div class="col-xs-12 col-md-4">
         <img class="img-responsive center-block" src="http://ols6vd1wm.bkt.clouddn.com/img_1_2.jpg" alt="Box 2">
         <h4 style="color: rgb(48,121,128);">认识新朋友的机会</h4>
         <h5 class="pd">交换出新的人生际遇 新的缘分悄然而至有何不可</h5>
       </div>
       <div class="col-xs-12 col-md-4">
         <img class="img-responsive center-block" src="http://ols6vd1wm.bkt.clouddn.com/img_1_4.jpg" alt="Box 3">
         <h4 style="color: rgb(48,121,128);">破解对院校以及专业的迷惘</h4>
         <h5 class="pd-last">探索自己喜欢的教授风格以及专业课程 避免考入学校后才后知后觉自己并不喜欢的痛苦</h5>
       </div>

     </div>
   </div>
 </div>
</div>

<div class="container-fluid boxes">
 <div class="container text-center bg-color4">
  <h2>适合体验交换人生的群体</h2>
  <p><em>交换物资?交换金钱?</em></p>
  <p>那些交换都太常见太无趣了! 让我们来交换人生吧!</p>
  <br>
  <br>
  <p>高考后最让人闹心的不是头疼要怎么浪才爽快,而是要决定报考哪个院校以及选哪个专业</p>
  <p>学校排名靠前,并不能保障那里的学习生活氛围就让人适应,自己是否能融入呢</p>
  <p>某些专业听上去很棒,但不适应教重要课程的教授的上课风格也是可能的</p>
  <p></p>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>高中生</strong></p><br>
      <a href="#demo" data-toggle="collapse">
      <img src="http://ols6vd1wm.bkt.clouddn.com/high_school_10.jpg" class="img-circle person" alt="Random Name">
      </a>
      <div id="demo" class="collapse">
        <p>向往某所大学</p>
        <p>得偿所愿后能适应那边的生活吗?</p>
        <p>认为自己喜欢某个专业</p>
        <p>但考上的大学所提供的此专业会符合心中预期吗?</p>
        <br><br><br>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>大学生</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
      <img src="http://ols6vd1wm.bkt.clouddn.com/college_10.jpg" class="img-circle person" alt="Random Name">
      </a>
      <div id="demo2" class="collapse">
        <p>大学生时代的生活很美好</p>
        <p>但有时又超级想念高中生活的单纯天真</p>
        <p>想自己赚点外快</p>
        <p>但找临时工作不易 且很难找到时间安排灵活的短期工</p>
        <br><br><br>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>在职人员</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
      <img src="http://ols6vd1wm.bkt.clouddn.com/career_10.jpg" class="img-circle person" alt="Random Name">
      </a>
      <div id="demo3" class="collapse">
        <p>工作后生活很有规律很充实</p>
        <p>但不时希望能再回去体验学生时代的自由自在</p>
        <p>平常工作忙碌 但请假几天去尝试新事物还是可行的</p>
        <p>时常好奇如果当年去其他大学读书会是怎样一种体验</p>
        <br><br><br>
      </div>
    </div>
  </div>
</div>
</div>

<!-- beginning of the WHAT design -->

<div class="syllabus">
  <div class="container">
    <div class="row col-xs-12">
      <h2 class=" f40 white kozgopro-medium" style="text-shadow: -1px -1px 0 #424242; color: white;">日程安排</h2>
      <h3 class="kozgopro-light">将你的体验最大化</h3>
    </div>
  </div>
</div>

<div class="container-fluid boxes-2">
  <div class="content_area">
    <div class="round-container">
      <div class="row">
        <div class="col-xs-12 col-md-6 box-2-lft">
          <h4 class="kozgopro-medium">三天版</h4>
          <ol class="kozgopro-regular" style="font-weight: bold;">
            <li><span>首日 体验校园生活 了解专业课的相关资讯</span></li>
            <li> <span>第二日 </span><br>
              <ul>
                <li><span>XXX</span></li>
                <li><span>Routing 規劃實作</span></li>
                <li><span>權限管理</span></li>
                <li><span>上傳圖片</span></li>
              </ul>
            </li>
              <li><span>幫程式穿衣服 ( <a class="text-green" target="blink" href="http://getbootstrap.com/">Bootstrap</a> 套版 )</span></li>
              <li><span>Git Pull request 技巧</span></li>
          </ol>
          <br><br>

        </div>
        <div class="col-xs-12 col-md-6 box-2-rht">
          <h4 class="kozgopro-medium">六天版</h4>
          <ol class="kozgopro-regular" style="font-weight: bold;">
            <li> <span>整合金流付款</span><br>

            </li>
            <li><span>實作秘密訂單 Mailer with Token</span></li>
            <li> <span>超實戰 Code 整理術</span><br>
              <ul>
                <li><span>Helper 整理術</span></li>
                <li><span>Partial 整理術</span></li>
                <li><span>Model 整理術</span></li>
                <li><span>Controller 整理術</span></li>
                <li><span>Service Object 整理術</span></li>
              </ul>
            </li>
            <li><span>Project 部署</span></li>
          </ol>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- end of the WHAT design  -->


<!-- Call to action part I -->

<div class="ap-parallax-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">

        <h2 class="p-title">看体验者感悟</h2>
        <p class="p-desc" style="max-width: 350px">全新的体验 最短时间感悟另一种人生</p>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid boxes-2">
  <div class="content_area">
    <div class="round-container">
<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://ols6vd1wm.bkt.clouddn.com/img_2_7.jpg" alt="高中生">
      <p style="color: rgb(48,121,128);"><strong>高中生S</strong></p>
      <p>原来大学课程跟想象的有差距耶 原来自学能力这么重要 好好拼搏考上那所大学! 跟那位师哥约定好了</p>
        <button class="btn">
        <%= link_to("立即体验", products_path) %>
        </button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://ols6vd1wm.bkt.clouddn.com/img_2_4.jpg" alt="大学生">
      <p style="color: rgb(48,121,128);"><strong>大学生Z</strong></p>
      <p>换去了心仪已久的大学 发现那个向往的专业课原来真的很棒 准备研究生考过去</p>
      <button class="btn">立即体验</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://ols6vd1wm.bkt.clouddn.com/img_2_3.jpg" alt="在职人员">
      <p style="color: rgb(48,121,128);"><strong>在职人员W</strong></p>
      <p>算是圆了年少时代的一个梦想吧 现在还常常联系那个学生 准备推荐她来我们公司工作</p>
      <button class="btn">立即体验</button>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- Call to action part I end -->

<!-- Call to action part II -->


<h2 class="text-center">FAQ</h2>

<div class="container">
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">课业</a></li>
  <li><a data-toggle="tab" href="#menu1">住宿</a></li>
  <li><a data-toggle="tab" href="#menu2">时间过短</a></li>
  <li><a data-toggle="tab" href="#menu3">退款</a></li>
</ul>


<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h2>专业课如何选择体验?</h2>
    <p>大学生会告知你本期课业,你也可以选择去旁听其他的专业课</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h2>是否一定要留校住宿?</h2>
    <p>为了完整的体验,建议住校,不过住宿可以自理,不一定要住校</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h2>只有三天或者六天而已,体验的完整吗?</h2>
    <p>不用全部亲身体验啊,会安排此专业的学长姐跟用户沟通,很多事情问学长姐就是最靠谱的,教授/天气/考试难易等等</p>
  </div>
  <div id="menu3" class="tab-pane fade">
    <h2>如果不喜欢这个学校可否退款?</h2>
    <p>如果发现不喜欢这个体验,请在第一天结束前联系客服,会将剩下两天或者五天的款项退还,第一天的费用无法退还,敬请谅解</p>
  </div>
</div>
</div>

<!-- Call to action part II end -->

<!-- rolling background -->

<div class="ap-parallax-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">

        <h2 class="p-title">高中生</h2>
        <p class="p-desc" style="max-width: 350px">向往的大学 向往的专业 我来也!</p>

      </div>
    </div>
  </div>
</div>
<!-- end of rolling background -->


<!-- Nice to have...customer service/interactive -->



<!-- end of customer service -->

<%= render "common/footer" %>

</body>
</html>
